/*
===============
general stuff
===============
*/

body {
	width: 300px;
	font-family: "Trebuchet MS", "Times New Roman", Serif;
	background-image: -webkit-radial-gradient(rgb(50,50,50), black);
	color: white;
	text-align: center;
}

h1 {
	font-size: 30px;
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	padding: 0 0 5px 10px;
}

li:hover {
	text-shadow: 1px 1px 10px white;
	cursor: pointer;
}

img {
	position: relative;
	left: 6px;
	width: 150px;
	height: 100px;
}